<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <meta charset="utf-8">
    <title>Exercice 1</title>
  </head>
  <body ng-app="">
    <button ng-click="count = count - 1" ng-init="0" type="button" name="suppr" id="buttonSuppr"> - </button>
    <p>{{count}}</p>
    <button ng-click="count = count + 1" type="button" ng-init="count=0" name="add" id="buttonAdd"> + </button>
    <script src="assets/JS/script.js"></script>
  </body>
</html>
